
body { 
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  color: #065f46;
  line-height: 1.6;
  background-color: #F8F3F0;
  margin:0 auto;
  max-width: 800px;
  padding-top: 0px;
}



/* Headings */
h2, h4, h5, h6 {
  color: #065f46;
  margin-top: 8px;
  margin-bottom: 16px;
  font-weight: 600;
  font-family: 'Playfair Display';
  color: #065f46;
  background-color: #F8F3F0;
  max-width: 800px;
}

h1 {
  color: #065f46;
  margin-top: 8px;
  margin-bottom: 16px;
  font-weight: 600;
  font-family: 'Roboto Condensed';
  color: #065f46;
  background-color: #F8F3F0;
  max-width: 800px;
  font-size: 30px;
}


h3 {
  color: #065f46;
  font-weight: 600;
  font-family: 'Roboto Condensed', serif;
  color: #065f46;
  background-color: #F8F3F0;
  max-width: 800px;
}

a {
  color: #065f46;
  font-weight: 800;
}


.links {
  margin-top: -8px; 
}



/* We want the headings to be a little bigger than the paragraph text */
.big { /* This is the class we created in the HTML file, you can use it to style any element */
  font-size: 3em;
}



/* Paragraph */
p {
  margin-bottom: 1em;
  font-weight: 300;
}

section {
  margin-bottom: 2.5em;  /* We want a little more space between sections */
}

/* Links */
/* We want the links to be a little more visible  and a different color */


  
/* Images */

.projects-container {
  display: flex;
  flex-wrap: wrap; /* Permite que os projetos "quebrem linha" se necessário */
  gap: 20px; /* Espaçamento entre os projetos */
  justify-content: center; /* Centraliza os projetos horizontalmente */
}

.project {
  flex: 1 1 calc(45% - 20px); /* Cada projeto ocupa 45% da largura menos o gap */
  max-width: 400px; /* Limita o tamanho máximo */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adiciona sombra */
  padding: 10px;
  text-align: center; /* Centraliza o conteúdo */
  background-color: #F8F3F0; /* Adiciona um fundo branco (opcional) */
  border-radius: 5px; /* Bordas arredondadas (opcional) */
}

.project img {
  max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do container */
  height: auto;
  border-radius: 5px; /* Bordas arredondadas para a imagem (opcional) */
}


