body { 
    font-family: 'Roboto Condensed';
    font-size: 16px;
    color: #065f46;
    line-height: 1.6;
    background-color: #F8F3F0;
    margin:0 auto;
    max-width: 800px;
    padding-top: 0px;
  }


h1 {
    color: #333;
    margin-top: 8px;
    margin-bottom: 16px;
    font-weight: 600;
    font-family: 'Roboto Condensed';
    color: #065f46;
    background-color: #F8F3F0;
    max-width: 800px;
    font-size: 35px;
  }

  h2 {
    color: #333;
    margin-top: 8px;
    margin-bottom: 16px;
    font-weight: 600;
    font-family: 'Roboto Condensed';
    color: #065f46;
    background-color: #F8F3F0;
    max-width: 800px;
    font-size: 25px;
  }

  h3 {
    color: #333;
    margin-top: 8px;
    margin-bottom: 16px;
    font-weight: 600;
    font-family: 'Roboto Condensed';
    color: #065f46;
    background-color: #F8F3F0;
    max-width: 800px;
    font-size: 20px;
  }
  
    /* Centraliza o gráfico horizontalmente e verticalmente */
#vis, #histogram, #pvalue-chart, #coefficient-chart {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    margin: 0 auto;         /* Garante a centralização horizontal */
    height: auto;          /* Ajusta para ocupar toda a altura da tela */
    width: auto;            /* Ajusta a largura */
}

.container {
  display: flex; /* Define o layout como flexível */
  justify-content: space-around; /* Espaço ao redor dos gráficos */
  align-items: flex-start; /* Alinha os gráficos pelo topo */
  gap: 20px; /* Espaçamento entre os gráficos */
  margin: 20px auto; /* Margem para centralizar o contêiner */
  max-width: 100%; /* Evita que ultrapasse a largura da página */
}

.chart {
  width: 50%; /* Cada gráfico ocupa metade do contêiner */
  height: auto; /* Ajusta a altura automaticamente */
}
